@model Capa_Enitdad.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelForModel("Product Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.LabelForModel("Product Price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.LabelForModel("Category Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
